/**
 * Basic styling for the Example skin.
 */

/* Variables */

@darkblue: #05abe0;
@lightblue: #87e0fd;

@darkerblue: #015169;
@highlight: #FF0FE7;

@xl: 3.6em;
@l: 2.4em;
@m: 1.8em;
@n: 1.2em;
@s: 0.9em;
@xs: 0.6em;

/* Page layout */

html,
body {
	font-family: "source_sans", helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	background: @lightblue; /* Old browsers */
	
}

/* Font definitions */

p {
	font-family: 'alegreya', serif;
	font-size: @n;
	padding: 0 1em;
}

h1 {
	font-size: @l;
	font-weight: bold;
	font-style: italic;
	padding: 0 1em;
}

h2, h3 {
	font-size: @m;
	font-weight: bold;
	font-style: normal;
	padding: 0 1em;
}

h3 {
	font-weight: normal;
}

div#toc {
	background-color: @lightblue;
}

h1, h2, .user-actions {
	border-bottom: #000 solid thick;
}

a {
	color: #015169;

	&:visited {
		color: #027496;
	}
	
	&:hover {
		color: #FFF;
	}
}

.reveal-tab {
	
	float: right;
	height: 0px;

	.reveal-button {
		position: relative;
		top:-1px;
		z-index: 9999;
		min-width: 4em;
		font-family: 'source_sans';
		font-weight: bold;
		font-size: @s;
		text-align: center;
		background: none;
		border: black solid 1px;
		border-top: none;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		color: #000;
		padding: 0;
		&:hover {
			cursor: pointer;
			color: #FFF;
			background-color: #000;
		}
	}
}

div.user-actions {
	border:none;

	.mw-portlet {
		display: inline-block;
		h3 {
			display: none;
		}
		ul {
			list-style-type: none;
			margin: 0;
			li {
				display: inline;
				margin: 0 10px;

				.selected {
					display: none;
				}
			
			}
			&:before {
				content: "[ ";
			}
			&:after {
				content: " ]";
			}
		}
	}

	a {
		font-family: 'source_sans';
		color:#000;
		&:visited { }
		&:hover {
			color:#fff;
		}
		&:active {
			color:#fff
		}
	}
	
}

#mw-wrapper {
	max-width: 800px;
	margin: 0 auto;
	border: none;
	position: relative;
}

#contentSub, #contentSub2 {
	color: #000;
}

.mw-body {
	margin: 0 auto;
	width: auto;
	border: none;
	padding: 0;
	overflow: hidden;
	overflow-x: hidden;

	h1.firstHeading {
		font-family: 'source_sans_black';
		font-style: italic;
		padding-top: 2em;
	}

}

/* HEADER */

#header-title{
	display: table;
	clear: both;
	border-top: #000 thick solid;
	border-bottom: #000 thick solid;
}


#p-logo {
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	padding-top: 1em;
	padding-bottom: 1em;
	a {
		text-align: center;
	}
}


#title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	h1 {
		border: none;
		font-family: 'source_sans_black';
		font-style: italic;
		font-size: 3em;
		padding: 0;
		display: inline;

	}
}

/* search box */

#searchbox {
	text-align: right;
}

#p-search {
	display: block;
	text-align: right;
	width: 200px;
	max-width: 200px;
	margin: 1em 0 1em auto;
	border: #000 solid thin;
	border-radius: 3px;
	background-color: #fff;
	
	input[type=search] {
		width: 160px;
		border: 0px none;
		-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	}

	input[type=submit] {
		position: relative;
		top: 0px;
		right: 0px;
		width: 1.65em;
		height: 100%;
		cursor: pointer;
		text-indent: -99999px;
		line-height: 1;
		direction: ltr;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEzIj48ZyBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iIzZjNmM2YyIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTExLjI5IDExLjcxbC00LTQiLz48Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNCIvPjwvZz48L3N2Zz4=");
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
	}
}

#p-personal {
	display: block;
	text-align: right;

	ul {
		list-style-type: none;
		margin: 0;
		li {
			display: inline-block;
			margin-left: 1em;
		}
	}
}

#mw-navigation {
	width: auto;
	
	div, form {
		display: inline-block;
	}

	a {
		font-family: 'source_sans';
		line-height: 1.5;
		font-weight: bold;
		text-decoration: none;
		color:#000;
		&:hover {
			color:#FFF;
			cursor: pointer;
			text-decoration: none;
		}
	}

	.mw-portlet {

		display: inline-block;
		text-align: center;
		font-size: 1em;
		padding: 1em;

		h3 {
			display: inline;
			&:after {
				content: ':'
			}
		}
		ul {
			display: inline;
			text-align: center;
			list-style-type: none;
			margin: 0;
			li {
				display: inline-block;
				margin: 0 1em;
				a {
					white-space: nowrap;
				}
			}
		}
	}

	#p-navigation {
		width: auto;
		display: block;
		font-size: 2em;
		text-align: center;
		border-bottom: #000 thick solid;
		padding: 30px 0;

		h3 {
			display: none;
		}
		
		ul li {
			margin: 0 0.5em;
			border-bottom: solid thick transparent;
			&:hover {
				border-bottom: #000 thick solid;
			}
		}
	}

}

/* Footer */

#mw-footer {
	clear: both;
	border-top: solid black thick;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	font-size: 0.8em;
	ul {
		list-style-type: none;
		margin: 0;
		li {
				display: inline-block;
				margin-right: 1em;
		}
	}
}
/* Hide some headings, but keep them accessible for screen-readers */

#mw-navigation h2,
#p-search h3,
#p-personal h3 {
	position: absolute;
	top: -9999px;
}

div#bg-color {
	width: 100%;
	height: 100%;
	position: fixed;	
	top: 0;
	left: 0;
	z-index: -1;
	background: @lightblue; /* Old browsers */
	background: -moz-linear-gradient(45deg, @lightblue 0%, @darkblue 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@lightblue), color-stop(100%,@darkblue)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, @lightblue 0%,@darkblue 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, @lightblue 0%,@darkblue 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, @lightblue 0%,@darkblue 100%); /* IE10+ */
  background: linear-gradient(45deg, @lightblue 0%,@darkblue 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{lightblue}', endColorstr='@{darkblue}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

